.header {
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .15);
}

.nav {
  height: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-weight: 700;
  font-size: 1.5rem;
  color: #5c95d4;
  text-shadow: 1px 1px 0px #3777c0;
}

.nav__list {
  display: flex;
  gap: 1.5rem;
}

.nav__link {
  display: block;
  color: #121f00;
}