* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Fira Code, monospace;
  font-size: 1rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header,
.section {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem 0 4rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}